@model CupCom.WebSite.Views.Home.ListarTimesModel
@{
}

<table>
    <thead>
    <td>id</td>
    <td>Pais</td>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>Brasil</td>
        </tr>
        <tr>
            <td>02</td>
            <td>Portugal</td>
        </tr>
    </tbody>
</table>